.cmir-citation {
  text-align: end;
  font-size: large;
}

.reveal ul {
  list-style-type: circle;
}

.uline {
  text-decoration: underline;
}

.alignleft {
  text-align: left;
}

.smaller {
  font-size: smaller;
}

