<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="https://www.christmind.info" title="CMI Home page" class="header item">
      <img class="logo" src="/public/img/cmi/cmi-logo-200.png">
      &nbsp;Library of Christ Mind Teachings
    </a>
    <a href="/" title="Way of Mastery Home" class="item">Home</a>
    <div class="ui simple dropdown item">
      Related Websites <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" target="_blank" href="https://wayofmastery.com">Jayem's Website</a>
        <a class="item" target="_blank" href="http://templecanyon.com">Shanti Christo Foundation</a>
        <a class="item" target="_blank" href="http://shantichristostore.com">Shanti Christo Foundation Store</a>
        <div class="divider"></div>
        <div class="header">Other Way of Mastery Related Sites</div>
        <a class="item" href="https://www.awayofmastery.com">A Way of Mastery Study Site</a>
        <a class="item" href="http://www.jeshuasway.com">Jeshua's Way</a>
      </div>
    </div>
  </div>
</div>

