<!-- _includes/common/transcript-menu.html -->
<div class="ui borderless main menu">
  <div class="ui text container">
    <a href="#" class="bookmark-modal-open ui dropdown item">
      <span data-position="bottom center" data-tooltip="Show Bookmarks">
        <i class="bookmark icon"></i>
      </span>
    </a>
    <a href="#" class="item search-modal-open">
      <span data-position="bottom center" data-tooltip="Search {{site.title}}">
        <i class="search icon"></i>
      </span>
    </a>
    <a href="#" class="item">
      <span data-position="bottom center" data-tooltip="Get Help">
        <i class="question icon"></i>
      </span>
    </a>
    <a href="#" class="login-menu-option ui right floated item">
      <span data-position="bottom center" data-tooltip="Sign In">
        <i class="sign in icon"></i>
      </span>
    </a>
  </div>
</div>
