<div class="annotation ui small modal">
  <i class="close icon"></i>
  <div class="image content">
    <div content="container">
      <div class="annotation-list ui middle aligned divided list">
      </div>
      <div class="" id="new-annotation">
        {% include form/annotation.html %}
      </div>
      <h4 class="ui horizontal divider header">
        <i class="paragraph icon"></i>
        Paragraph
      </h4>
      <div class="ui segment" id="bookmark-paragraph"></div>
    </div> <!-- container -->
  </div>
</div>
