<div class="annotation ui small modal">
  <i class="close icon"></i>
  <div class="image content">
    <!--
    <div class="image">
      <img class="ui spaced  mini image" src="/public/img/cmi/annotation_modal.png" alt="Transcript Annotation">
    </div>
    -->
    <div content="container">
      {% include form/annotation.html %}
      <h4 class="ui horizontal divider header">
        <i class="paragraph icon"></i>
        Paragraph
      </h4>
      <div class="ui segment" id="bookmark-paragraph"></div>
    </div> <!-- container -->
  </div>
</div>
