<div class="annotation ui small modal">
  <i class="close icon"></i>
  <div class="annotate-prev-paragraph ui left floated animated button">
    <div class="visible content">Prev</div>
    <div class="hidden content">
      <i class="left arrow icon"></i>
    </div>
  </div>
  <div class="annotate-next-paragraph ui right floated animated button">
    <div class="visible content">Next</div>
    <div class="hidden content">
      <i class="right arrow icon"></i>
    </div>
  </div>
  <div class="image content">
    <div content="container">
      <div class="annotation-list ui middle aligned divided list">
      </div>
      <div class="" id="new-annotation">
        {% include form/annotation.html %}
      </div>
      <h4 class="ui horizontal divider header">
        <i class="paragraph icon"></i>
        Paragraph
      </h4>
      <div class="ui segment" id="bookmark-paragraph"></div>
    </div> <!-- container -->
  </div>
</div>
