<div class="bookmark ui modal">
  <i class="close icon"></i>
  <div class="ui large header">
    Bookmarks
  </div>
  <div class="content">
    <div id="bookmark-modal-topic-select" class="cmi right floated content"></div>
  </div>
  <div class="image scrolling content">
    <div class="image">
      <img src="/public/img/cmi/bookmark_modal.png" alt="Bookmark">
    </div>
    <div content="container">
      <div class="ui list cmi-bookmark-list">
      </div> <!-- ui list -->
    </div> <!-- container -->
  </div>
</div>
