<!-- _includes/components/toc-modal.html -->
<div class="notes small ui modal">
  <i class="close icon"></i>
  <div class="notes-title ui large centered header"></div>
  <div class="ui raised very padded text segment">
    <div class="ui items">
      <div class="item">
        <div class="ui tiny rounded image">
          <img class="notes-image" src="/public/img/cmi/notes.png" alt="Notes Image">
        </div>
        <div class="notes-content content"></div>
      </div>
    </div>
  </div>
</div>
