<div id="quote-modal" class="ui small modal quote-coupled">
  <div id="quote-modal-header" class="center header">From <em>The Way of Mastery</em></div>
  <div id="quote-modal-content" class="double-bubble content"></div>
  <div id="quote-modal-message" class="ui hidden small"></div> 
  <div class="actions">
    <button id="quote-modal-facebook" title="Share to Facebook" class="hidden ui blue icon button">
        <i class="facebook icon"></i>
    </button>
    <button id="quote-modal-share" title="Share by Email" class="hidden approve ui blue icon button">
        <i class="paper plane icon"></i>
    </button>
    <button id="quote-modal-more" title="Display Another Quote" class="ui green icon button">
        <i class="quote left icon"></i>
    </button>
    <button id="quote-modal-cancel" title="Close" class="deny ui red icon button">
        <i class="window close icon"></i>
    </button>
    <!--
    <div id="quote-modal-facebook" class="approve ui blue button">Share</div>
    <div id="quote-modal-share" class="approve ui blue button">Share</div>
    <div id="quote-modal-more" class="ui blue button">Get Another</div>
    <div id="quote-modal-cancel" class="cancel ui blue button">Cancel</div>
    -->
  </div>
</div>
