<!-- _includes/components/search-modal.html -->
<div class="search ui modal">
  <i class="close icon"></i>
  <div class="ui large header">
    Search the Library
  </div>
  <div class="image content">
    <div class="image">
      <img src="/public/img/cmi/search_modal.png" alt="Search">
    </div>
    <div content="container">
      <div class="ui search positive message">
        <div class="content">
          <div class="search-message header">
            Welcome&hellip;
          </div>
          <div class="search-message-body">
            <p>To begin, enter your search and select a source from which to search.</p>
          </div>
        </div>
      </div>
      <form id="search" class="">
        <div class="ui right labeled left icon input">
          <i class="icon search"></i>
          <input type="search" placeholder="Enter search">
        </div>
      </form>
      <h4 class="ui horizontal divider header">
        <i class="search icon"></i>
        Search Results
      </h4>
      <div class="cmi-search-list">
      </div> <!-- ui list -->
    </div> <!-- container -->
  </div>
</div>
