{% for section in include.data.sections %}
  <div id="accordion-{{forloop.index | minus: 1}}" class="title">
    {{section.title}}<br>
    {{section.desc}}<br>
  </div>
  <div class="content">
    <table class="ui celled striped table">
      <thead>
        <tr>
          <th>Feature</th>
          <th>Date</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for page in section.pages %}
        <tr>
          <td class="collapsing">
            {% if page.meta.audio == 0 %}
              <i class="microphone slash icon"></i>
            {% elsif page.meta.audio == 1 %}
              <i class="volume up icon"></i>
            {% elsif page.meta.audio == 2 %}
              <i class="clock outline icon"></i>
              {% endif %}
          </td>
          <td class="selectable">
            <a href="{{page.url}}">{{page.title}}</a>
          </td>
          <td class="collapsing">
            {{page.desc}}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endfor %}

